<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Item</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add New Pantry Item</h1>

  <form action="/users/<%= user._id %>/foods" method="POST">
    <label for="name">Food Name:</label>
    <input type="text" name="name" required>
    <button type="submit">Save</button>
  </form>
</body>
</html>